{% extends 'base.html'%}

{% block content %}

<form class="form mt-5" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <label class="form-label" for="form6Example1">First name</label>
          <input name="first_name"  type="text" id="form6Example1" class="form-control" value="{{ form.first_name.value }}" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
            <label class="form-label" for="form6Example2">Last name</label>
          <input name="last_name"  type="text" id="form6Example2" class="form-control" value="{{ form.last_name.value }}" />
        </div>
      </div>
    </div>

    <!-- Photo input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Profile Picture</label>
        <input name="profile_picture" type="file" accept="image/png, image/gif, image/jpeg" id="form6Example5" class="form-control" />
      </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Email</label>
      <input name="email" type="email" id="form6Example5" class="form-control" value="{{ form.email.value }}"/>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Password</label>
      <input name="password1" type="password" id="form6Example6" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Confirm Password</label>
        <input name="password2" type="password" id="form6Example6" class="form-control" />
      </div>
  
    <!-- About input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">About Yourself</label>
      <textarea name="about" class="form-control" id="form6Example7" rows="4"> {{ form.about.value }} </textarea>
    </div>
  
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Update Profile</button>
  </form>
{% endblock %}