{% extends 'base.html' %}

{% block content %}

    <div class="mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for tuition in tuitions %}
          <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    Tuition id: {{tuition.id}}
                </div>
              <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/> -->
              <div class="card-body">
                <h5 class="card-title">Posted by {{tuition.provider.first_name}} {{tuition.provider.last_name}}</h5>
                <p class="card-text mb-3">
                  Requirements: {{tuition.requirements | truncatechars:200}}
                </p>
                <p class="card-text mb-2">
                    Phone: {{tuition.phone}}
                </p>
                <p class="card-text">
                  class: {% for lvl in tuition.level.all %} {{lvl}} {% endfor %}

              </p>
              
  
              </div>
              <div class="card-footer text-muted">
                Posted on {{ tuition.date_posted }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
  </div>


    
      
{% endblock %}