{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for tutor in tutors %}
          <div class="col">
              <!-- <a href="{% url 'users:profile' tutor.username %}" class="text-decoration-none text-dark"> -->
            <div class="card h-100">
                {% if user.photo %}
                <img src="{{ user.photo.url }}"
                  alt="Generic placeholder image" class="card-img-top">
                {% else %}  
                  <img src="{% static 'images/default_user_pic.png' %}"
                  alt="Generic placeholder image" class="card-img-top">
                {% endif %}
              <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/> -->
              
              <div class="card-body">
                <h5 class="card-title fw-bold ">{{tutor.first_name}} {{tutor.last_name}}</h5>
                <p class="card-text mb-3">
                 <p class="mb-2 fw-bold">About:</p>
                  <pre>{{tutor.about}}</pre>
                </p>
                <p class="card-text mt-2 mb-2">
                  <span class="fw-bold"> Location: </span>{{tutor.location}}
              </p>
                <p class="card-text mt-2 mb-2">
                  <span class="fw-bold"> Phone: </span>{{tutor.phone}}
                </p>
                
  
              </div>
            </div>
            <!-- </a>  -->
          </div>
          {% endfor %}
        </div>
  </div>


    
      
{% endblock %}