{% extends 'base.html'%}

{% block content %}

<form method="POST" class="form mt-5" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Location of tuition -->
    <div class="form-outline mb-4">
        <label class="form-label text-white" for="form6Example5">Location</label>
      <input required name="location" type="text" id="form6Example5" class="form-control" value="{{ form.location.value }}" />
    </div>
    
  
    <!-- Class input -->
    <div class="form-outline mb-4">
        <label class="form-label text-white" for="form6Example6">Class</label>
      <input required name="level" type="text" id="form6Example6" class="form-control" value="{{ form.level.value }}" />
    </div>
    <!-- Subject input -->
    <div class="form-outline mb-4">
        <label class="form-label text-white" for="form6Example6">Subject</label>
      <input required name="subject" type="text" id="form6Example6" class="form-control" value="{{ form.subject.value }}" />
    </div>
     <!-- Phone Number input -->
     <div class="form-outline mb-4">
        <label class="form-label text-white" for="form6Example6">Phone</label>
      <input required name="phone" type="text" id="form6Example6" class="form-control" value="{{ form.phone.value }}" />
    </div>
    <!-- Salary input -->
    <div class="form-outline mb-4">
        <label class="form-label text-white" for="form6Example6">Salary</label>
      <input required name="salary" type="text" id="form6Example6" class="form-control" value="{{ form.salary.value }}" />
    </div>
  
  
  
    <!-- Requirements input -->
    <div class="form-outline mb-4">
        <label class="form-label text-white" for="form6Example7">Requirements</label>
      <textarea required name="requirements" class="form-control" id="form6Example7" rows="4"> {{ form.requirements.value }} </textarea>
    </div>
  
  
    <!-- Add button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Update Tuition</button>
  </form>
{% endblock %}